// Footer

.footerTheme {
  background: #074875;
}

.footerTheme hr {
  border-color: #404040;
}

.footerTheme span {
  color: #67abd2;
}

// Nav bar
.navTheme {
  background: linear-gradient(141deg, #1da1f2 0, #0d84d0 40%, #1d6ea7 100%);
}
